.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
  border: 1px solid #ddd;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 2; /* Ensure the header is above the fixed column */
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 1;
}
/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  th, td {
    font-size: 2vw; 
  }
}

@media (min-width: 1200px) {
  th, td {
    font-size: 1.4vw; 
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
