.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  